<ion-header>
    <ion-navbar color="primary"></ion-navbar>
</ion-header>

<ion-content>
    <ion-row padding-horizontal>
        <ion-row col-8>
            <h2>Barcode</h2>
        </ion-row>
        <ion-row col-4>
            <h2>Date</h2>
        </ion-row>
    </ion-row>
    <div class="flex justify-center" *ngIf="gettingData === true">
        <ion-spinner></ion-spinner>
    </div>
    <p text-center *ngIf="barcodes.length === 0 && gettingData === false">No Barcodes scanned</p>
    <ion-list>
        <ion-item tappable *ngFor="let code of barcodes" (click)="onRowTapped(code)">  
            <ion-row>
                <ion-col col-8 class="row-scroll-x">
                    <p><ion-icon class="favourite-list-icon" *ngIf="code.favourite === 1" name="star"></ion-icon>{{ code.code }}</p>
                </ion-col>
                <ion-col col-4 class="row-scroll-x">
                    <p>{{ code.date | date }}
                </ion-col>
            </ion-row>             
        </ion-item>
    </ion-list>
</ion-content>
