<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button (click)="close()">Close</button>
        </ion-buttons>
        <ion-title>Qr Code Detail</ion-title>
        <ion-buttons end>
            <button ion-button (click)="shareClicked($event)">
                <ion-icon padding class="large-icon" name="share"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button (click)="moreClicked($event)">
                <ion-icon class="large-icon" name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header class="card-title">
            <h1>Details</h1>
        </ion-card-header>
        <ion-card-content *ngIf="qrCode !== null">
            <div padding-bottom (press)="codePressed($event)">
                <h2 class="card-subtitle">Data</h2>
                <p class="card-content">{{ qrCode.code }}</p>
            </div>
            <div padding-bottom>
                <h2 class="card-subtitle">Format</h2>
                <p class="card-content">{{ qrCode.format }}
            </div>  
            <div padding-bottom>
                <h2 class="card-subtitle">Date</h2>
                <p class="card-content">{{ qrCode.date | date:'dd/MM/y h:ma' }}
            </div>  
        </ion-card-content>
    </ion-card>
    <ion-card padding class="flex justify-center" *ngIf="qrCode != null">
        <qr-code [value]="qrCode.code" [size]="200" #qrCodeElement></qr-code>
    </ion-card>
</ion-content>
